/* UNiversal Start */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Universal End */

/* Nav Start */
#nav-input {
    width: 55vw;
    height: 30%;
    border-radius: 20x;
}

#nav-link {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
    color: white;

}

#nav-btn {
    line-height: 32px;
    font-size: 16px;
    padding: 0px 20px;
    font-weight: 600;
}

#nav-btn:hover {
    color: #7f7f7f;
}

#nav-btn:active {
    border: 3px solid #7f7f7f;
}

/* Nav End */


@media screen and (max-width:1024px) {
    #nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #nav-input {
        display: none;
    }

    #nav-link {
        border: 2px solid #ffffff;
        padding: 2px;
        margin-right: 5px;
    }

    #nav-btn {
        display: none;
    }

    #carouselExampleAutoplaying img {
        width: auto;
        height: auto;
    }
}

/* Carousel Start */
#carouselExampleAutoplaying img {
    width: 100vw;
    height: 100vh;
}

#captions {
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#captions h1 {
    font-weight: 600;
    line-height: 56px;
    font-size: 56px;
    margin-bottom: 5px;
}

#captions p {
    font-size: 26px;
    line-height: 32px;
    margin-top: 26px;
    font-weight: 600;
    margin-bottom: 50px;
}

#captions a {
    font-weight: 800;
    font-size: 24px;
    line-height: 64px;
    padding: 0px 20px;
    margin: 0px;
    color: #000000;
}

#captions a:hover {
    color: #7f7f7f;
}

#captions a:active {
    border: 1px solid #7f7f7f;
}

#swipe {
    font-size: 10px;
}

@media screen and (max-width:1024px) {
    #captions h1 {
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    #captions p {
        display: none;
    }

    #captions a {
        font-size: 15px;
        padding: 0px 10px;
        line-height: 37px;
        font-weight: 600;
        align-items: center;
        border-radius: 2px;
    }
}

#footer {
    width: 100%;
    position: absolute;
    top: 91%;
    background-color: #000000;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

#footdiv {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footdiv i {
    font-size: 23px;
    color: #8d8d8d;
    margin-left: 25px;
}

@media screen and (max-width:1024px) {
    #footer {
        height: 110%;
        flex-direction: column;
    }

    #footdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #footdiv i {
        border: none;
        font-size: 30px;
    }

}

#footer a {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 16.8px;
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    #footer a {
        border-bottom: 1px solid #8d8d8d;
        text-align: start;
        padding: 12px 0px;
        margin: 0px;
        width: 100%;
    }
}

/*---------- Sign-up ----------*/

@media (min-width: 769px) and (max-width: 1440px) {
    #body {
        background-image: url(images/identity_flickr_com/033120190455-by-Henry.2edde7a9\ \(1\).jpg);
        background-position: bottom;
        height: 55vh;
        background-size: cover;
        background-attachment: fixed;
    }

    #inter {
        width: 100%;
        position: fixed;
    }

    #inter img {
        width: 40%;
        margin: 0px;
    }

    #sign {
        width: 30%;
        height: 95vh;
        background-color: #ffffff;
        margin: auto;
        padding-top: 60px;
    }

    #sign h6 {
        line-height: 26px;
        font-size: 18px;
        color: #212124;
        font-weight: 400;
        text-align: center;
        margin: 0px 0px 12px;
    }

    #sign form {
        padding-left: 30px;
        padding-right: 30px;
    }

    #sign input {
        color: #212124;
        font-size: 16px;
        line-height: 20.8px;
        padding: 16.2px 16px 16.2px;
        font-weight: 400;
        text-align: start;
        margin-bottom: 10px;
        border-color: #8b8b8b;
    }

    #sign button {
        padding: 8px 130px;
        margin: 32px 0px 10px;
        line-height: 20.8px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        background-color: #128fdc;
        border: none;
        border-radius: 3px;
        transition: 0.5s;
    }

    #sign:hover button {
        background-color: #2aa2ec;
    }

    #four {
        font-size: 14px;
        padding-bottom: 10px;
        margin: 0px 30px;
        border-bottom: 1px solid #888888;
    }

    #engs {
        margin: 0% 0% 0% 35%;
    }
}

/*-------- Sign Up page Small Screen --------*/
@media screen and (max-width:768px) {
    #inter {
        width: 100%;
        position: fixed;
    }

    #inter img {
        width: 35%;
    }

    #sign {
        width: 100%;
        height: 95vh;
        background-color: #ffffff;
        margin: auto;
        padding-top: 60px;
        padding-right: 20%;
    }

    #sign h6 {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: #212124;
        margin-top: 20%;
        margin-left: 35%;
    }

    #button {
        line-height: 20.8px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        background-color: #128fdc;
        border: none;
        border-radius: 3px;
        transition: 0.5s;
    }

    #four {
        font-size: 11px;
        margin-left: 20%;
        text-align: center;
    }

    #member {
        font-size: 11px;
        line-break: none;
        margin-left: 20%;
    }
}





/*-------- Log in page --------*/
@media (min-width: 769px) and (max-width: 1440px) {
    #body-log {
        background-image: url(images/identity_flickr_com/033120190455-by-Henry.2edde7a9\ \(1\).jpg);
        background-position: center;
        height: 55vh;
        background-size: cover;
    }

    #log {
        width: 28%;
        height: 42vh;
        margin: auto;
        transform: translateY(80%);
        background-color: #ffffff;
        border-radius: 3px;
    }

    #log button {
        padding: 2% 38%;
        margin: 9% 0px 0px;
        margin-left: 7%;
        line-height: 20.8px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        background-color: #128fdc;
        border: none;
        border-radius: 3px;
        transition: 0.5s;
    }

    #log:hover button {
        background-color: #2aa2ec;
    }

    #member {
        font-size: 14px;
        transform: translate(70px, 15px);
        margin: auto;
    }

    #log img {
        width: 10%;
        transform: translate(160px, 15px);
    }

    #login {
        z-index: 100;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: #212124;
        transform: translate(110px, 15px);
    }

    #log input {
        width: 85%;
        margin-left: 7%;
        margin-top: 10%;
        height: 20%;
        border: 1px solid #919191;
    }

    #log:hover input {
        border: 1px solid rgb(132, 132, 248);
    }
}



@media screen and (max-width:768px) {
    #log img {
        width: 15%;
        z-index: 100;
        margin-top: 20%;
        margin-bottom: -20%;
        margin-left: 50%;

    }

    input {
        width: 92%;
        margin-left: 12%;
        margin-top: 5%;
        height: 40%;
        border: 1px solid #919191;
    }

    input:hover {
        border: 1px solid rgb(132, 132, 248);
    }

    #login {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: #212124;
        margin-top: 20%;
        margin-left: 35%;
    }

    button {
        padding: 2% 43%;
        margin: 9% 0px 0px;
        margin-left: 12%;
        line-height: 20.8px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        background-color: #128fdc;
        border: none;
        border-radius: 3px;
        transition: 0.5s;
    }

    #member {
        margin-left: 13%;
        margin-top: 5%;
        font-size: 14px;
    }

    #eng {
        margin: 0px;
    }

    #nit {
        color: black;
    }

    #body-log {
        background-image: none;
        background-color: #ffffff;
        overflow: hidden;
    }

    #log {
        width: 80%;
        height: 20vh;
    }
}